<div id="myModalMessage" class="taurus-newlector-modal">
    <div class="taurus-newlector-modal-content taurus-modal-message">
        <span class="close" id="closemyModalMessage" onclick="closeModal()">&times;</span>
        
        <div>
                Pro dokončení Vaší registrace je potřeba, poslat kopii Vašeho občanského průkazu na email <a href="mailto: info&#64;taurus-education.cz">info&#64;taurus-education.cz.</a>
        </div>
    </div>
        
</div>