<div id="modal-window" class="taurus-newlector-modal">
    <div class="taurus-newlector-modal-content taurus-modal-message">
        <span class="modal-close" id="modal-close">&times;</span>

        <div id="modal-content">
            
        </div>
    </div>

</div>