@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Taurus_TermsConditions>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master_Taurus_Inner.cshtml";
}

<div>
    @Model.Conditions
</div>